<a href="https://colab.research.google.com/github/HiveCase/MachineLearningPractice/blob/main/Week2/PA/Machine_Learning_Practice_PA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Practice Assignment - 2

In [60]:
# import necessary libraries
import numpy as np
import pandas as pd

In [61]:
df = pd.read_csv('DataPreprocessingGraded_dataset.csv',na_values='?')
df

       V1    V2       V3    V4        V5 Target
0     2.0  50.0  12500.0  98.0  NEGATIVE    YES
1     0.0  13.0   3250.0  28.0  NEGATIVE    YES
2     NaN   NaN   4000.0  35.0  NEGATIVE    YES
3     NaN  20.0   5000.0  45.0  NEGATIVE    YES
4     1.0  24.0   6000.0  77.0  NEGATIVE     NO
..    ...   ...      ...   ...       ...    ...
743  23.0   2.0    500.0  38.0  NEGATIVE     NO
744  21.0   2.0    500.0  52.0  NEGATIVE     NO
745  23.0   3.0    750.0  62.0  NEGATIVE     NO
746  39.0   1.0    250.0  39.0  NEGATIVE     NO
747  72.0   1.0    250.0  72.0  NEGATIVE     NO

[748 rows x 6 columns]

### Question1:
How many samples are there in this dataset?

In [14]:
samples,features = df.shape
print(f"{samples} samples are there in this dataset")

748 samples are there in this dataset

###Question2:
How many input features are there in this dataset?

In [15]:
print(f"{features - 1} dataset has input features")

5 dataset has input features

###Question3:
What type of problem is this?

In [16]:
df.Target.unique()

array(['YES', 'NO'], dtype=object)

Looks like Classifiaction problem.

###Question4:
Which of the features has least variance?<br>
  [Hint: Ignore/remove missing values if any. Are there any categorical features?]

In [22]:
num_df = df.drop(columns=['Target','V5'])
num_df_clean = num_df.dropna()
variance  = num_df_clean.var()
variance

V1    6.562010e+01
V2    3.336704e+01
V3    2.085440e+06
V4    5.969600e+02
dtype: float64

In [25]:
print(f"{variance.idxmin()} has least variance")

V2 has least variance

###Question5:
Which of the following features has least number of outliers?<br>
   [Hint: Which visualization marks outliers? Ignore/remove missing values if any]

In [38]:
def count_outliers(df):
  outlier_counts = {}
  columns = df.select_dtypes(include=np.number).columns
  for column in columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column]<lower_bound)|(df[column]>upper_bound)]
    outlier_counts[column] = outliers.shape[0]
  return outlier_counts
outlier_df = pd.DataFrame([count_outliers(df.dropna())])
outlier_df

   V1  V2  V3  V4
0   7  41  41   0

In [42]:
print(f"{outlier_df.idxmin(axis=1).iloc[0]} has lowest number of outliers ")

V4 has lowest number of outliers

###Question 6:

Which of the following is true about target variable?<br>

A) It has higher 'YES' entries than 'NO' entries.<br>
B) It has higher 'NO' entries than 'YES' entries.<br>
C) It has same number of entries of 'YES' and 'NO'

In [ ]:
# prompt: i want number of unique values of Traget variable and their count

print(df['Target'].value_counts())

In [46]:
df.Target.value_counts()

Target
NO     570
YES    178
Name: count, dtype: int64

###Question 7:
How many features have missing values in the dataset?<br>

  [Hint: missing values are marked by '?']

In [49]:
print(f"{(df.isnull().sum()!=0).sum()} features have missing values")

2 features have missing values

###Question 8:
What is total number of missing values in the dataset?

In [52]:
print(f"{df.isnull().sum().sum()} missing values are in dataset")

10 missing values are in dataset

###Question 9:
What is average of first feature (i.e. 'V1') after applyting SimpleImputer(strategy = 'median')?

In [54]:
print(f"Average Value of {df.columns[0]} before imputing missing values is: {round(df['V1'].mean(),3)}")

Average Value of V1 before imputing missing values is: 9.563

In [56]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='median')
print(f"Average Value of {df.columns[0]} after imputing missing values is: {round(si.fit_transform(df[['V1']]).mean(),3)}")

Average Value of V1 after imputing missing values is: 9.552

###Question 10:
What is average of first column after applyting KNNImputer(n_neighbors = 3)?

In [63]:
from sklearn.impute import KNNImputer
knni = KNNImputer(n_neighbors=3)
print(f"Average Value of {df.columns[0]} after imputing missing (KNNImputer) values is: {knni.fit_transform(df[['V1']]).mean()}")

Average Value of V1 after imputing missing (KNNImputer) values is: 9.562584118438762

###Question 11:
What is average of second feature (i.e. 'V2') after applyting SimpleImputer(strategy = 'mean')?

In [66]:
si2 = SimpleImputer(strategy='mean')
print(f"The average of {df.columns[1]} after imputing missing values with mean values is {round(si2.fit_transform(df[['V2']]).mean(),3)}")

The average of V2 after imputing missing values with mean values is 5.464