<a href="https://colab.research.google.com/github/HiveCase/MachineLearningPractice/blob/main/Week3/MLP_Graded_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('GA_3_dataset.csv')
df.head()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,35900,37.0,Male,Other,Strategy,23.929404,NaN,Hard,3,124,99,18,Medium
1,27085,25.0,Male,NaN,Action,22.755168,1.0,Easy,14,84,84,12,Medium
2,39595,24.0,Female,Europe,Simulation,19.505292,0.0,Hard,3,172,9,18,Medium
3,37440,26.0,Female,Europe,RPG,11.009645,NaN,NaN,3,83,36,43,Low
4,22882,17.0,Female,USA,RPG,0.581039,1.0,Medium,5,163,9,24,Medium

##Question 1:##
Which of the following columns have object datatype?

Age

Gender

Location

GameGenre

PlayTimeHours

PlayTimeHours

In [7]:
cols = df.columns
options = ['Age','Gender','Location','GameGenre','PlayTimeHours','PlayTimeHours']

In [14]:
answer = []
for option in options:
  if df[option].dtype == 'object':
    answer.append(option)
print(answer)

['Gender', 'Location', 'GameGenre']

In [21]:
for option in options:
  print(f"{option}: {df[option].dtype}")

Age: float64
Gender: object
Location: object
GameGenre: object
PlayTimeHours: float64
PlayTimeHours: float64

##Question 2:##
In this dataset, how many **"Males"** from **"Europe"** have made **"InGamePurchases"** ?

In [25]:
print(f"Number of males from Europe who made in game purchases: {len(df[(df['Gender']=='Male')&(df['Location']=='Europe')&(df['InGamePurchases']>0)])}")

Number of males from Europe who made in game purchases: 299

##Question 3:##
In your dataset, how many players under the **"Age"** 18 have strictly greater than 10 **"PlayTimeHours"**?

In [27]:
print(f"Number of plyers under age 18 having more than 10 hours of playtime: {len(df[(df['Age']<18)&(df['PlayTimeHours']>10)])}")

Number of plyers under age 18 having more than 10 hours of playtime: 453

##Question 4:##
Create feature matrix(X) and label vector(y) using following instructions:

**"EngagementLevel"** is the target column(y).

All the columns except the target column are in feature matrix(X).

How many total null values were present in the whole dataset ?

In [30]:
y = df['EngagementLevel']
X = df.drop(columns=['EngagementLevel'])
print(f"Total number of null values present in whole dataset is: {X.isnull().sum().sum()}")

Total number of null values present in whole dataset is: 3337

##Question 5:##
Split the dataset into train dataset and test dataset in the following manner.

Use sklearn train_test_split function to split the data.

Use only 20% data as test_set and keep random_state = 42

Which category has the least value counts in y_train?

a) Low

b) Medium

c) High

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [41]:
y_train.value_counts()

EngagementLevel
Medium    3983
Low       2021
High      1996
Name: count, dtype: int64

In [45]:
print(f"The least appearing value for y_train is: {y_train.value_counts().idxmin()} with total {y_train.value_counts()[y_train.value_counts().idxmin()]} appearences")

The least appearing value for y_train is: High with total 1996 appearences

#Question 6 & 7#
Common Instructions for Question 6 and 7

Rules for Imputing the missing(NaN) or Unknown values:

Calculating statistical values (such as mean, median, mode) for each column in the training dataset.<br>
Applying these calculated statistical values to replace missing (NaN) and unknown values in both the training and test datasets.<br>
Ensure that the calculation of statistical values excludes any rows containing missing or unknown values.<br>
Replace Unknown values in the "Age" feature with the Mean value in that.<br>
Replace Unknown values in the "Location" feature with the constant value "Other".<br>
Replace Unknown values in the "GameDifficulty" feature with the Most Frequent value in that.<br>
Replace Unknown values in the "InGamePurchases" feature with the constant value '0'.<br>
Write the answers related to the above imputation in below questions respectively.

In [50]:
df.describe()

,PlayerID,Age,PlayTimeHours,InGamePurchases,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked
count,10000.000000,9200.000000,10000.000000,9107.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,28935.433100,31.731087,12.031316,0.204568,9.504300,95.267000,49.655100,24.661900
std,11564.353372,9.953936,6.911209,0.403408,5.748694,48.860954,28.562208,14.453923
min,9004.000000,15.000000,0.002816,0.000000,0.000000,10.000000,1.000000,0.000000
25%,18934.250000,23.000000,6.112727,0.000000,5.000000,53.000000,25.000000,12.000000
50%,28872.500000,32.000000,11.987127,0.000000,10.000000,95.000000,49.000000,25.000000
75%,38832.750000,40.000000,17.982188,0.000000,14.000000,138.000000,74.000000,37.000000
max,49032.000000,49.000000,23.997245,1.000000,19.000000,179.000000,99.000000,49.000000

In [49]:
for col in cols:
  print(f"{col}: {df[col].unique()}")

PlayerID: [35900 27085 39595 ... 22094 42490 42839]
Age: [37. 25. 24. 26. 17. 44. nan 34. 45. 42. 32. 31. 30. 39. 18. 16. 29. 46.
 15. 28. 20. 21. 22. 27. 38. 48. 41. 47. 35. 23. 43. 36. 19. 40. 33. 49.]
Gender: ['Male' 'Female']
Location: ['Other' nan 'Europe' 'USA' 'Asia']
GameGenre: ['Strategy' 'Action' 'Simulation' 'RPG' 'Sports']
PlayTimeHours: [23.92940354 22.75516807 19.50529163 ... 22.62888003 17.11194945
 22.06786596]
InGamePurchases: [nan  1.  0.]
GameDifficulty: ['Hard' 'Easy' nan 'Medium']
SessionsPerWeek: [ 3 14  5 17  0  1  6  9  8 15  7 11  4 12 13  2 18 19 16 10]
AvgSessionDurationMinutes: [124  84 172  83 163 139 127 148 138  72 122  12  41  66  13 112  81 147
 108 129 126  78  88 142 100 102 153 167  33  11 128  14  57  63  70  46
  40  17  35 168  32 130  65 173 176 125  48  74 115  44  82 119  85  47
 179 169  51 174 156  67  75  91  30 101 143  69  18  79  60  68 136  42
 170 133  52 110 145  73  25  58  93  61  89 107  92  90  62  97 159  28
  15 131  10 120 157  56  87 162 132 171 134  26 146  39 140  54  24 150
  53  95  86  38  80  27  76 178 144 155 117 118 164  77  22 158 121  98
 149 106  29 109 123  99  20 103  43  45  34 177  31 152 114  59 135  94
 166 105  23 116 137  36 165 104  16  55 175  21 113  19 111 154 141  50
  37 161  49  96  64 160 151  71]
PlayerLevel: [99 84  9 36 27 69  4 16 41 14 60 51  1 71  7 34 89 80 21 20 46 24 49 90
 83 13 48 28 72 33 45 88 74 92 50 94 19 26 17 29 31 82 39  3 32  2 40 87
 78  5 91 81 73 43 64 35 54 18 37 63 38  6 57 93 61 44 22 53 56 95 47 97
 98 96 66 68 67 15 23 25 76 59 55 85 11 12 52 86 65 79  8 77 58 75 10 42
 62 30 70]
AchievementsUnlocked: [18 12 43 24  8 14 29 49 33 15 42  9 19 26 13 31  1 41 25 20  5 45  3 30
 46 35 40 47 39 37  7  2 22 23 21 28 11 32 17  4 44 38 34 27 10  6 36 48
 16  0]
EngagementLevel: ['Medium' 'Low' 'High']

In [51]:
df['Age'].unique()

array([37., 25., 24., 26., 17., 44., nan, 34., 45., 42., 32., 31., 30.,
       39., 18., 16., 29., 46., 15., 28., 20., 21., 22., 27., 38., 48.,
       41., 47., 35., 23., 43., 36., 19., 40., 33., 49.])

In [52]:
df['Location'].unique()

array(['Other', nan, 'Europe', 'USA', 'Asia'], dtype=object)

In [53]:
df['GameDifficulty'].unique()

array(['Hard', 'Easy', nan, 'Medium'], dtype=object)

In [54]:
df['InGamePurchases'].unique()

array([nan,  1.,  0.])

In [55]:
df['Age'].dtype

dtype('float64')

In [61]:
X_test_copy = X_test.copy()
X_train_copy = X_train.copy()

In [62]:
df['GameDifficulty'].value_counts()

GameDifficulty
Easy      4591
Medium    2783
Hard      1780
Name: count, dtype: int64

In [63]:
mean_age = X_train_copy['Age'].mean()
location_na = 'Other'
GameDifficulty_na = 'Easy'
InGamePurchases_na = 0

In [64]:
X_train_copy['Age'] = X_train_copy['Age'].fillna(mean_age)
X_test_copy['Age'] = X_test_copy['Age'].fillna(mean_age)
X_train_copy['Location'] = X_train_copy['Location'].fillna(location_na)
X_test_copy['Location'] = X_test_copy['Location'].fillna(location_na)
X_train_copy['GameDifficulty'] = X_train_copy['GameDifficulty'].fillna(GameDifficulty_na)
X_test_copy['GameDifficulty'] = X_test_copy['GameDifficulty'].fillna(GameDifficulty_na)
X_train_copy['InGamePurchases'] = X_train_copy['InGamePurchases'].fillna(InGamePurchases_na)
X_test_copy['InGamePurchases'] = X_test_copy['InGamePurchases'].fillna(InGamePurchases_na)

##Question 6:##
Write the sum of transformed(imputed) "Age" column of the test dataset . (upto 2 digits after decimal points)

In [66]:
print(f"The sum of transformed Age Column is: {round(X_test_copy['Age'].sum(),2)}")

The sum of transformed Age Column is: 63585.24

##Question 7:##
Apply preprocessing on features of train and test datasets.


*   Drop the "PlayerID" Column before the preprocessing steps.
*   Before applying any preprocessing there should not be any missing or unknown values present in the train and test dataset.
*   Learn transformers' parameters using training set only and then transform train & test sets using them.


For Categorical Features

Ordinal Features

Ordinally Encode **"GameDifficulty"**


| GameDifficulty | Order |
|----------------|-------|
| Easy           | 0     |
| Medium         | 1     |
| Hard           | 2     |


<br>

Nominal Features

*  One-Hot Encode 'Gender', 'Location', 'GameGenre' features and keep drop_first = True.

Scaling Features

*  Scale all the features (transformed categorical and numerical) of the feature matrix using the StandardScaler

Calculate the sum of all the values present in first five rows of transformed test feature matrix ? (upto 2 digits afer the decimal)

In [69]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [70]:
copydf = pd.read_csv('GA_3_dataset.csv')
X = copydf.drop(columns=['EngagementLevel'])
y = copydf['EngagementLevel']

In [73]:
X_test,X_train,y_test,y_train = train_test_split(X,y,test_size=0.2,random_state=42)
X_test.drop(columns=['PlayerID'])
X_train.drop(columns=['PlayerID'])
cols_to_clean = ["Age", "Location", "GameDifficulty", "InGamePurchases"]
for col in cols_to_clean:
    X_train[col] = X_train[col].replace("Unknown", np.nan)
    X_test[col] = X_test[col].replace("Unknown", np.nan)

# Convert Age and InGamePurchases to numeric
X_train["Age"] = pd.to_numeric(X_train["Age"], errors="coerce")
X_test["Age"] = pd.to_numeric(X_test["Age"], errors="coerce")

X_train["InGamePurchases"] = pd.to_numeric(X_train["InGamePurchases"], errors="coerce")
X_test["InGamePurchases"] = pd.to_numeric(X_test["InGamePurchases"], errors="coerce")

# Define column types
numerical_features = ["Age", "PlayTimeHours", "InGamePurchases"]
ordinal_features = ["GameDifficulty"]
nominal_features = ["Gender", "Location", "GameGenre"]

# Preprocessing pipelines
numerical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="mean")),
    ("scaler", StandardScaler())
])

ordinal_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("encoder", OrdinalEncoder(categories=[["Easy", "Medium", "Hard"]]))
])

nominal_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="constant", fill_value="Other")),
    ("onehot", OneHotEncoder(drop="first", sparse_output=False))
])

# Combine transformers
preprocessor = ColumnTransformer(transformers=[
    ("num", numerical_transformer, numerical_features),
    ("ord", ordinal_transformer, ordinal_features),
    ("nom", nominal_transformer, nominal_features)
])

# Apply transformations
X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

# ✅ Get the final answer
sum_first_5_rows_test = np.sum(X_test_processed[:5])
print(f"✅ Sum of first 5 rows of transformed test set: {sum_first_5_rows_test:.2f}")

✅ Sum of first 5 rows of transformed test set: 12.10

In [74]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer

# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Drop PlayerID column
X_train = X_train.drop(columns=["PlayerID"])
X_test = X_test.drop(columns=["PlayerID"])

# Replace 'Unknown' with np.nan
cols_to_clean = ["Age", "Location", "GameDifficulty", "InGamePurchases"]
for col in cols_to_clean:
    X_train[col] = X_train[col].replace("Unknown", np.nan)
    X_test[col] = X_test[col].replace("Unknown", np.nan)

# Convert numeric columns
X_train["Age"] = pd.to_numeric(X_train["Age"], errors="coerce")
X_test["Age"] = pd.to_numeric(X_test["Age"], errors="coerce")

X_train["InGamePurchases"] = pd.to_numeric(X_train["InGamePurchases"], errors="coerce")
X_test["InGamePurchases"] = pd.to_numeric(X_test["InGamePurchases"], errors="coerce")

# Drop rows with any missing values (after cleaning)
X_train = X_train.dropna()
X_test = X_test.dropna()

# Define feature groups
numerical_features = ["Age", "PlayTimeHours", "InGamePurchases"]
ordinal_features = ["GameDifficulty"]
nominal_features = ["Gender", "Location", "GameGenre"]

# Define preprocessing pipelines
numerical_transformer = Pipeline(steps=[
    ("scaler", StandardScaler())
])

ordinal_transformer = Pipeline(steps=[
    ("encoder", OrdinalEncoder(categories=[["Easy", "Medium", "Hard"]]))
])

nominal_transformer = Pipeline(steps=[
    ("onehot", OneHotEncoder(drop="first", sparse_output=False))  # use sparse=False if using sklearn<1.2
])

# Combine all transformers
preprocessor = ColumnTransformer(transformers=[
    ("num", numerical_transformer, numerical_features),
    ("ord", ordinal_transformer, ordinal_features),
    ("nom", nominal_transformer, nominal_features)
])

# Fit only on training data
X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

# Scale the whole feature matrix (numerical + encoded categorical)
scaler_all = StandardScaler()
X_train_scaled = scaler_all.fit_transform(X_train_processed)
X_test_scaled = scaler_all.transform(X_test_processed)

# Calculate the sum of first five rows in test data
sum_first_5 = np.sum(X_test_scaled[:5])
print(f"✅ Sum of first 5 rows of transformed test set: {sum_first_5:.2f}")

✅ Sum of first 5 rows of transformed test set: -5.53

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# Load the dataset
df = pd.read_csv("GA_3_dataset.csv")  # Update path as needed

# Split features and target
X = df.drop(columns=["EngagementLevel"])
y = df["EngagementLevel"]

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Drop PlayerID
X_train = X_train.drop(columns=["PlayerID"])
X_test = X_test.drop(columns=["PlayerID"])

# Replace 'Unknown' with np.nan in necessary columns
cols_to_clean = ["Age", "Location", "GameDifficulty", "InGamePurchases"]
for col in cols_to_clean:
    X_train[col] = X_train[col].replace("Unknown", np.nan)
    X_test[col] = X_test[col].replace("Unknown", np.nan)

# Convert Age and InGamePurchases to numeric
X_train["Age"] = pd.to_numeric(X_train["Age"], errors="coerce")
X_test["Age"] = pd.to_numeric(X_test["Age"], errors="coerce")

X_train["InGamePurchases"] = pd.to_numeric(X_train["InGamePurchases"], errors="coerce")
X_test["InGamePurchases"] = pd.to_numeric(X_test["InGamePurchases"], errors="coerce")

# Define column types
numerical_features = ["Age", "PlayTimeHours", "InGamePurchases"]
ordinal_features = ["GameDifficulty"]
nominal_features = ["Gender", "Location", "GameGenre"]

# Preprocessing pipelines
numerical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="mean")),
    ("scaler", StandardScaler())
])

ordinal_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("encoder", OrdinalEncoder(categories=[["Easy", "Medium", "Hard"]]))
])

nominal_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="constant", fill_value="Other")),
    ("onehot", OneHotEncoder(drop="first", sparse_output=False))
])

# Combine transformers
preprocessor = ColumnTransformer(transformers=[
    ("num", numerical_transformer, numerical_features),
    ("ord", ordinal_transformer, ordinal_features),
    ("nom", nominal_transformer, nominal_features)
])

# Apply transformations
X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

# ✅ Get the final answer
sum_first_5_rows_test = np.sum(X_test_processed[:5])
print(f"✅ Sum of first 5 rows of transformed test set: {sum_first_5_rows_test:.2f}")

✅ Sum of first 5 rows of transformed test set: 10.48